body {
	background-color:#585858;
}

.header-block {
	position: relative;
	border-radius: 10px;
	background-color: #909090;
	margin: 10% 10% 0.8% 10%;
	padding: 0.5% 0.5% 0.5% 0.5%;
	box-shadow: 10px 10px 12px black;
}

.inline-block-left {
	display: inline-block;
	background-color: #909090;
	border-radius: 10px;
	margin: 0.5% 12% 0.5% 12%;
	box-shadow: 10px 10px 12px black;
}

.inline-block-middle {
	display: inline-block;
	background-color: #909090;
	border-radius: 10px;
	margin: 0.5% 20% 0.5% 20%;
	box-shadow: 10px 10px 12px black;
}
.image {
	margin: 10% 1% 0% 1%;
}
.img_top {
	position: absolute;
	top: 10px;
	right: 10px;
}
.img_bottom {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
